@import "_widget/*"

html
  font-size 17px
  letter-spacing 0.06em

  @media (max-width: 767px)
    font-size 16px

  @media (max-width: 575px)
    font-size 15px

html, body
  height 100%
  font-family Noto Serif SC, sans-serif
  overflow-wrap break-word

body
  transition var(--item-transition)
  background-color var(--body-bg-color)
  color var(--text-color)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  a
    color var(--text-color)
    text-decoration none
    cursor pointer
    transition var(--item-transition)

    &:hover
      color var(--link-hover-color)
      text-decoration none

code
  color inherit

table
  font-size inherit
  color var(--post-text-color)

img[lazyload]
  object-fit cover

*[align="left"]
  text-align left

*[align="center"]
  text-align center

*[align="right"]
  text-align right

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-thumb
  background-color var(--scrollbar-color)
  border-radius 6px

  &:hover
    background-color var(--scrollbar-hover-color)

::-webkit-scrollbar-corner
  background-color transparent

label
  margin-bottom 0

i.iconfont
  font-size 1em
  line-height 1
