:root
  --color-mode "light"
  --body-bg-color #f7f8fa
  --board-bg-color #fff
  --text-color #373e4a
  --sec-text-color #979898
  --post-text-color #373e4a
  --post-heading-color #373e4a
  --post-link-color #eea2a4
  --link-hover-color #f07c82
  --link-hover-bg-color rgba(0,0,0,0.1)
  --line-color #979898
  --navbar-bg-color #fff
  --navbar-text-color #373e4a
  --subtitle-color #373e4a
  --scrollbar-color #eea2a4
  --scrollbar-hover-color #f07c82
  --button-bg-color transparent
  --button-hover-bg-color #f2f3f5
  --license-bg-color rgba(#373737, 0.05)

@media (prefers-color-scheme: dark)
  :root
    --color-mode "dark"

  :root:not([data-user-color-scheme])
    --body-bg-color #151718
    --board-bg-color #232222
    --text-color #d8d8d8
    --sec-text-color #979898
    --post-text-color #d8d8d8
    --post-heading-color #d8d8d8
    --post-link-color #f1939c
    --link-hover-color #f07c82
    --link-hover-bg-color rgba(0,0,0,0.1)
    --line-color #979898
    --navbar-bg-color #232222
    --navbar-text-color #d8d8d8
    --subtitle-color #d8d8d8
    --scrollbar-color #eea2a4
    --scrollbar-hover-color #f07c82
    --button-bg-color transparent
    --button-hover-bg-color #46647e
    --license-bg-color rgba(#373737, 0.15)

    img
      -webkit-filter brightness(0.75)
      filter brightness(0.75)
      transition filter 0.2s ease-in-out

[data-user-color-scheme="dark"]
  --body-bg-color #151718
  --board-bg-color #232222
  --text-color #d8d8d8
  --sec-text-color #979898
  --post-text-color #d8d8d8
  --post-heading-color #d8d8d8
  --post-link-color #f1939c
  --link-hover-color #f07c82
  --link-hover-bg-color rgba(0,0,0,0.1)
  --line-color #979898
  --navbar-bg-color #232222
  --navbar-text-color #d8d8d8
  --subtitle-color #d8d8d8
  --scrollbar-color #eea2a4
  --scrollbar-hover-color #f07c82
  --button-bg-color transparent
  --button-hover-bg-color #46647e
  --license-bg-color rgba(#373737, 0.15)

  img
    -webkit-filter brightness(0.75)
    filter brightness(0.75)
    transition filter 0.2s ease-in-out

html
  --card-shadow 0 2px 2px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.06),0 1px 5px 0 rgba(0,0,0,.12)
  --item-transition color 0.2s ease-in-out, background-color 0.2s ease-in-out