// Rewrite navbar
.navbar
  .nav-item .nav-link
    &:hover
      color var(--link-hover-color)
      background-color rgba(0, 0, 0, 0.1)

// Rewrite reboot.scss
label
  margin-bottom 0

.container
  padding-right 1rem
  padding-left 1rem

.page-link
  font-size 1.1rem

// Rewrite anchorjs
.anchorjs-link
  text-decoration none !important
  transition opacity 0.2s ease-in-out

.markdown-body h1, h2, h3, h4, h5, h6
  &:hover > .anchorjs-link
    opacity 1

// Rewrite iconfont
i.iconfont
  font-size 1rem
  line-height 1

// Rewrite fancybox
a.fancybox:hover
  text-decoration none

// Rewrite list-group
.list-group-item
  display flex
  background-color transparent
  border 0

@media (max-width: 575px)
  .list-group-item
    font-size 0.95rem
    padding 0.5rem 0.75rem

.list-group-item-action
  color var(--text-color)

  &:focus, &:hover
    color var(--link-hover-color)
    background-color var(--link-hover-bg-color)