#board
  position relative
  padding 3rem
  background-color var(--board-bg-color)
  transition background-color 0.2s ease-in-out
  border-radius 8px
  z-index 3
  -webkit-box-shadow var(--card-shadow)
  box-shadow var(--card-shadow)

  @media (max-width: 991px)
    padding 2.5rem

  @media (max-width: 767px)
    padding 2rem

  @media (max-width: 575px)
    padding 1.5rem

#card-content
  position relative
  padding 0
  background-color transparent

.each-card
  position relative
  margin 0 4rem 2rem 4rem
  background-color var(--board-bg-color)
  transition background-color 0.2s ease-in-out
  border-radius 8px
  z-index 5
  -webkit-box-shadow var(--card-shadow)
  box-shadow var(--card-shadow)

  @media (max-width: 767px)
    margin 0 1rem 2rem 1rem

  @media (max-width: 575px)
    margin 0 0 1rem 0

.commentsboard
  position relative
  margin-top 15px
  padding 3rem
  background-color var(--board-bg-color)
  transition background-color 0.2s ease-in-out
  border-radius 8px
  z-index 4
  -webkit-box-shadow var(--card-shadow)
  box-shadow var(--card-shadow)

  @media (max-width: 991px)
    padding 2.5rem

  @media (max-width: 767px)
    padding 2rem

  @media (max-width: 575px)
    padding 1.5rem