sup > a, .footnote-text
  &::before
    display inline-block
    content ""
    margin-top -90px
    height 90px
    width 1px
    visibility hidden

.footnote-list
  ol
    padding 0
    list-style-type none
    counter-reset sectioncounter
    font-size 0.95rem

    li:before
      color var(--post-link-color)
      font-family Noto Serif SC, sans-serif
      content "["counter(sectioncounter)"]"
      counter-increment sectioncounter

    li+li
      margin-top 0.5rem

.footnote-text
  padding-left 0.5em
