.navbar
  background-color var(--navbar-bg-color)
  font-size 0.875rem
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  -webkit-box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  transition color .2s ease-in-out, background-color .2s ease-in-out
  padding 10px

  .navbar-brand .navbar-icons
    color var(--navbar-text-color)

    &:hover
      color var(--link-hover-color)

  .navbar-toggler .animated-icon span
    background-color var(--navbar-text-color)

  .nav-item .nav-link
    display block
    color var(--navbar-text-color)
    transition color .2s ease-in-out, background-color .2s ease-in-out

    &:focus
      color var(--navbar-text-color)

    i
      font-size 0.875rem

  .navbar-toggler
    border-width 0
    outline 0

  .navbar-icon

    margin 5px

    i
      font-size 1.5rem

@media (min-width: 992px)
  .navbar-icons
    display none

@media (max-width: 767px)
  .navbar
    font-size 1rem

@media (max-width: 575px)
  .header-inner
    height 77.5px !important

.header-inner
  height 100px

.nav-link
  padding 0.75rem

  @media (min-width: 992px)
    padding 0.5rem