#nprogress
  .bar
    height 3px !important
    background-color #eea2a4 !important
  .peg
    box-shadow 0 0 14px #eea2a4, 0 0 8px #eea2a4 !important

  @media (max-width: 575px)
    .bar
      display none
