.pagination
  margin-top 3rem
  justify-content center

  .space
    align-self flex-end

  .current
    background-color var(--board-bg-color) !important

  .page-number, .current, .extend
    outline 0
    border 0
    background-color transparent
    font-size 0.9rem
    padding 0.5rem 0.75rem
    line-height 1.25
    border-radius 3px
    transition background-color 0.2s ease-in-out

  .page-number, .extend
    margin 0 0.25rem

    &:hover
      background-color var(--link-hover-bg-color)
