.side-button
  position fixed
  display flex
  flex-direction column
  z-index 99
  background transparent
  right 20px
  bottom 20px
  outline none
  align-items center

  @media (max-width: 575px)
    display none

  .side-button-content
    display flex
    margin-top 10px
    background var(--board-bg-color)
    transition background-color 0.2s ease-in-out, bottom 0.3s ease
    border-radius 4px
    min-width 40px
    min-height 40px
    outline none
    box-shadow var(--card-shadow)

    i
      font-size 20px
      margin auto
      color var(--sec-text-color)
