.list-group
  a ~ p.h5
    margin-top 1rem

.list-group-item

  time
    flex 0 0 5rem

  .list-group-item-title
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

@media (max-width: 575px)
  .list-group-item

    time
      flex 0 0 4rem
